<div class="embla__slide">
  <div class="content">
    <slot />
  </div>
</div>

<style lang="scss">
  .embla__slide {
    flex: 0 0 auto;
    min-width: 0;
    padding-left: var(--slide-spacing-desktop);
    position: relative;

    @media (max-width: 1200px) {
      padding-left: var(--slide-spacing-tablet);
    }

    @media (max-width: 768px) {
      padding-left: var(--slide-spacing-mobile);
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    //TODO: 枠線は暫定対応
    border: 4px solid rgb(46, 46, 46);
    border-radius: 0.5rem;
    box-sizing: border-box;

    height: var(--slide-height-desktop);

    @media (max-width: 1200px) {
      height: var(--slide-height-tablet);
    }

    @media (max-width: 768px) {
      height: var(--slide-height-mobile);
    }
  }

  .content > :global(img),
  .content > :global(picture) {
    display: block;
    height: 100%;
    width: auto;
    object-fit: contain;
  }

  .content > :global(picture) > :global(img) {
    height: 100%;
    width: auto;
    object-fit: contain;
  }
</style>
